body {
    background-color:palevioletred;
}
.header{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    font-weight: bolder;
}

.main-container{
    display: flex;
    max-width: 40%;
    max-height: 70%;
    margin: 0 auto;
    padding:20px;
    background-color: beige;
    border-radius: 15px;

    flex-wrap: wrap;
}

button{
    height: 80px;
    width: 50px;
    padding: 70px;
    margin: 10px;
    justify-content: center;
}